* {
  padding: 0px;
  margin: 0px;
}

body {
  overflow-x: hidden;
}

.header {
  align-items: center;
  background: #707070;
  border: 1px solid #707070;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  height: 198px;
}

header:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  background: #707070;
  transform-origin: top left;
  transform: skewY(5deg);
  z-index: -1;
}

.header-title1 {
  text-align: center;
  font: normal normal normal 20px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.header-title2 {
  text-align: center;
  font: normal normal bold 40px/49px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.header-title3 {
  text-align: center;
  font: normal normal normal 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

main h2 {
  width: 102px;
  height: 23px;
  text-align: left;
  font: normal normal normal 20px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
}

.container-paragraph {
  width: 563px;
  height: 60px;
  text-align: left;
  font: normal normal normal 12px/18px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
}
main {
  margin-top: 100px
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding: 20px;
}

.products-session {
  display: flex;
  justify-content: center;
  width: 931px;
}

.item__image {
  width: 200px;
  height: 150px;
}

.item__add{
  width: 201px;
  height: 350px;
  text-align: center;
  font: normal normal normal 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  height: 30px;
  width: 200px;
}

span {
  text-align: left;
  font: normal normal normal 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  width: 200px;
}

strong {
  text-align: left;
  font: normal normal bold 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  width: 200px;
}

.your-selection{
  padding: 10px;
  font: normal normal bold 18px/16px Helvetica Neue;
  color: #888888;
}

.more-products-button button {
  display: flex;
  justify-content: center;
  margin-top: 49px;
  margin-bottom: 125px;
  width: 383px;
  height: 39px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  font: normal normal normal 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
}

.more-products-button button {
  text-align: center;
  font: normal normal normal 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  padding: 10px;
  width: 260px;
  height: 39px;
}

.footer {
  color: #ffffff;
  font: normal normal normal 12px/18px Helvetica Neue;
  height: 158px;
  background: #707070;
  border: 1px solid #707070;
  opacity: 1;
  margin-top: 100px;
  text-align: center;
  position: relative;
  width: 100%;
}

footer:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  top: -50px;
  left: 0;
  background: #707070;
  transform-origin: top right;
  transform: skewY(-1.8deg);
  z-index: -1;
}

.footer-paragraph {
  margin-top: 135px;
  text-align: center;
  font: normal normal normal 12px/18px Helvetica Neue;
  letter-spacing: 0px;
  color: #FFFFFF;
}
